<div class="container">
  <employer-nav></employer-nav>
  <div class="jumbotron">
    <h1 class="display-4">Curriculum Vitae</h1>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel [title]="cv.careerObjective.position" *ngFor="let cv of CVList">
      <ng-template ngbPanelContent>
        <table class="table table-borderless">
          <tr>
            <td><strong>Position: </strong></td>
            <td>{{cv.careerObjective.position}}</td>
          </tr>
          <tr>
            <td><strong>Hours per week: </strong></td>
            <td>{{cv.careerObjective.hoursPerWeek}} hours / week</td>
          </tr>
          <tr>
            <td><strong>Salary: </strong></td>
            <td>{{cv.careerObjective.salary}}$</td>
          </tr>
        </table>
        <button type="button" class="btn btn-success"
                *ngIf="!hasResponded" (click)="openCvModal(cv, cvModal)">respond!</button>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<ng-template #cvModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
