<div class="container">
  <employer-nav></employer-nav>

  <div *ngIf="ready">
    <div class="jumbotron">
      <h1 class="display-4">Hello, {{employer.name}}</h1>
    </div>

    <ngb-alert type="success" *ngIf="successfullyAdded">
      <strong>Your Vacancy successfully added!</strong>
    </ngb-alert>

    <ngb-alert type="success" *ngIf="successfullyRemoved">
      <strong>Your Vacancy successfully removed!</strong>
    </ngb-alert>

    <button type="button" class="btn btn-primary btn-lg btn-block mb-5" *ngIf="!addingVacancy" (click)="startAddingVacancy()">
      + Add Vacancy</button>

    <form *ngIf="addingVacancy" [formGroup]="addVacancyForm">
      <div class="form-group">
        <label>Position</label>
        <input type="text" class="form-control" formControlName="position">
      </div>
      <validator-message [field]="addVacancyForm.get('position')"></validator-message>
      <div class="form-group">
        <label>Hours per week</label>
        <input type="text" class="form-control" formControlName="hoursPerWeek">
      </div>
      <validator-message [field]="addVacancyForm.get('hoursPerWeek')"></validator-message>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <validator-message [field]="addVacancyForm.get('city')"></validator-message>
      <button type="button" class="btn btn-success mr-2 mt-5" (click)="saveVacancy()">Submit</button>
      <button type="button" class="btn btn-outline-danger mt-5" (click)="finishAddingVacancy()">Cancel</button>
    </form>

    <h3 *ngIf="!addingVacancy">Your Vacancies:</h3>
    <ngb-accordion *ngIf="!addingVacancy" #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel [title]="vacancy.position" *ngFor="let vacancy of vacancies">
        <ng-template ngbPanelContent>
          <table class="table table-borderless">
            <tr>
              <td><strong>Position: </strong></td>
              <td>{{vacancy.position}}</td>
            </tr>
            <tr>
              <td><strong>Hours per week: </strong></td>
              <td>{{vacancy.hoursPerWeek}} hours / week</td>
            </tr>
            <tr>
              <td><strong>City: </strong></td>
              <td>{{vacancy.city}}</td>
            </tr>
          </table>
          <button type="button" class="btn btn-danger" (click)="removeVacancy(vacancy.id)">Delete</button>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
