<div>
  <button (click)="goBack()">Back</button><br>
  <span>position: {{cv.careerObjective.position}}</span><br>
  <span>salary: {{cv.careerObjective.salary}}</span><br>
  <span>hours per week: {{cv.careerObjective.hoursPerWeek}}</span><br>
  <span><b>Your Vacancy:</b></span>
  <select [(ngModel)]="chosenVacancy">
    <option *ngFor="let vacancy of userVacancies" [ngValue]="vacancy">{{vacancy.position}}</option>
  </select><br>
  <button *ngIf="!hasResponded" (click)="respondCV()">respond!</button>
  <span *ngIf="hasResponded">You already responded!</span>
</div>
